<section class="about">
  <h1>いまどうしてる？</h1>
  <p>
     Tweeveは、Achieveを参考に作成された、Twitter風アプリです。
  </p>
</section>

<section class="main-header">
  <img src="<%= asset_path "tweeve.png" %>">
</section>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>